
/* 유틸리티 */
.container {
  width: 1300px;
  max-width: var(--container);
  margin: 0 auto;
}
h2{
  font-size: var(--text-title-xl);
  font-weight: 700;
  
}
h4{
  font-size: var(--text-title-xs);
  font-weight: 600;
  margin-bottom: var(--space-xxs);
  color: var(--color-primary-dark);
}

/* ========================= 
    main-visual
============================ */
.main-visual {
  overflow: visible;
  padding-top: 120px;
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}

.main-visual .mainbg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -30px;
  padding: 0 22px;
}

.main-visual .mainbg img {
  border-radius: 30px;
  width: 100%;
}

.main-visual-inner {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  max-width: var(--container);
  margin: 30px auto 40px;
  position: relative;
}

/* ============ 왼쪽 공항정보 ============ */
.airport-panel { 
  background: #fff;
  border-radius: 15px;
  padding: 1rem;
  /* width: 520px; */
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex:1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.145);
}

/* 모바일에서만 보여지는 공항안내 */
.mobile-wrap-ariport {
  display: none;
}

/* ============ 상단 공항상황 ============ */
.widget-card {
  color: var(--color-white);
  font-size: 1.05rem;
  background: var(--color-logo);
  padding: 30px;
  border-radius: 15px;
  height: 430px;
}

.airport-name {
  width: 300px;
  height: 72px;
  background: var(--color-white);
  border-radius: 50px;
  text-align: center;
  line-height: 72px;
  margin-bottom: 14px;
  position: relative;
}

.airport-name i {
  color: var(--color-title-text);
  font-size: 36px;
  font-weight: 700;
}

.airport-name a {
  color: var(--color-title-text);
  font-size: 36px;
  font-weight: 700;
 
}


/* 클릭 유도 */

#airportName {
  position: relative;
   display: inline-block;
}

/* clickPoint */
#airportName.has-clickpoint::after {
  content: '\f1d8';
  position: absolute;
  color: var(--color-point);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  opacity: 0;
  animation: clickPulse 1.4s infinite;
  transform: scaleX(-1);
  bottom: -30%; right: -10%;
}

@keyframes clickPulse {
  0% { transform: scaleX(-1); opacity: 0; }
  50% { transform: scaleX(-1); opacity: 0.8; }
  100% { transform: scaleX(-1); opacity: 0; }
}

.weather-wrap {
  position: relative;
  margin: 20px;
  padding-bottom: 10px;
}

.weather {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.temp {
  font-size: 90px;
  font-weight: 700;
}

.weather-detail {
  font-size: 0.85rem;
  color: var(--color-white);
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.weather-icon {
  width: 220px;
  height: 220px;
  position: absolute;
  right: -5%;
  bottom: -20%;
  display: flex;
  justify-content: center;
}

.weather-icon iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.quick-service {
  list-style: none;
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.quick-service li {
  background: var(--soft);
  border: 0;
  text-align: center;
  line-height: 90px;
  border-radius: 8px;
  cursor: pointer;
  width: 130px;
  height: 90px;
  position: relative;
  z-index: 10;
  background: var(--color-white);
}

.quick-service li button {
  font-weight: 600;
  font-size: var(--text-xs);
  background: var(--color-white);
  perspective: 800px;
}

.quick-service li button img {
  width: 35px;
  padding-bottom: 5px;
  transition: transform 0.4s ease;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.quick-service li:hover img {
  transform: rotateY(180deg);
}

.quick-service .calendarClock button img {
  width: 39px;
}

.quick-service .searchIcon button img {
  width: 39px;
}

/* ============ 하단 출도착 검색 ============  */
.flight-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 224px;
  flex-direction: row;
}

.web-ticket {
  width: 100%;
}

.mobile-ticket {
  display: none;
}

.search-left {
  flex: 1;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 42%;
  justify-content: center;
  padding: 30px;
}

.search-left .airport-area label {
  display: block;
  font-size: var(--text-m);
  font-weight: 700;
  margin-bottom: 10px;
}

.search-left .airport-area select {
  width: 210px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.search-left .airport-area .airport-title {
  margin-bottom: 25px;
}

.search-right {
  flex: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  width: 58%;
  height: 100%;
  padding: 25px;
  justify-content: center;
}

.search-right .search-ariport {
  margin: 20px 0;
}

.search-right .search-text {
  text-align: center;
  padding-bottom: 5px;
}

.search-right .search-text h2 {
  font-size: var(--text-m);
  font-weight: 600;
  padding-bottom: 5px;
}

.search-right .search-text p {
  font-size: var(--text-xs);
}

.search-right .search-ariport-flight {
  display: flex;
  gap: 0.6rem;
}

.search-right .search-ariport-flight label {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem
}

.search-right .search-ariport-flight input {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid #e6eef8;
  min-width: 100px;
  width: 125px;
  text-align: center;

}

.search-right .date-search label h2 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.search-right .date-search label i {
  font-size: 22px;
  color: var(--color-title-text);
}

.search-right .date-search label input {
  height: 25px;
  width: 85%;
  padding: 0.5rem;
  margin: 1px;
  border: 1px solid #e6eef8;

}


.search-right .search-btn {
  background: var(--color-logo);
  border-radius: 0 50px 0 100px;
  cursor: pointer;
  position: absolute;
  top: 1.2%;
  right: 1%;
  width: 90px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

.search-right .search-btn a {
  text-align: center;
  display: inline-block;
  color: var(--color-white);
}
.search-right .search-btn:hover{
  background: var(--color-point) ;
}
/* 왼쪽 map */
.map-wrap {
  margin-left: auto;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.map-wrap .map-img img {
  width: 100%;
}

.map-wrap .map-img .map-city {
  width: 160px;
  position: absolute;
  left: 27%;
  top: 7.3%;
}

.map-wrap figcaption {
  margin-top: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 5%;
}

.map-wrap figcaption p {
  font-size: 14px;
  margin-bottom: 7px;
  color: var(--color-title-text);
  font-weight: 300;
}

/* 필터 컨트롤 (지도 왼쪽 하단) */
.filter-controls {
  position: absolute;
  right: 0;
  bottom: -30px;
  gap: 14px;
  display: flex;
  z-index: 60;
}

.filter-controls button {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  color: var(--color-text-gray);
  border: none;
  background-color: transparent;
}

#filterControls button.active {
  color: var(--color-primary-middle);
  font-weight: 900;
  font-size: var(--text-xs);
  text-shadow: 0 0 15px #fff, 0 0 8px #fff, 0 0 30px rgb(250, 250, 248);
}



/* 공항 라벨 */
.airport-label {
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
  padding: 5px 12px;
  border-radius: 18px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid var(--color-text-darkgray);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
  transition: transform .18s, box-shadow .18s, background-color .18s, border-color .18s, opacity .18s, color .18s;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: var(--color-black-soft);
}

.airport-label:hover {
  transform: translate(-50%, -50%) scale(1.03);
}

/* 클릭된 라벨 스타일 */
.airport-label.active {
  background: var(--color-primary-middle);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  box-shadow: 0 10px 30px rgba(0, 88, 168, 0.12);
  transform: translate(-50%, -50%) scale(1.06);
  z-index: 30;
}

.airport-label.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(.98);
}
.airport-label.has-clickpoint::after{
  content: '\f1d8'; position: absolute;
  width: 15px; height: 15px;
   font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--color-point);
  right: 0; bottom: 0;
  animation: clickPulse 1.4s infinite;
  transform: scaleX(-1);
}

/* dot */
.pin-img {
  position: absolute;
  width: 23px;
  height: 27px;
  left: -5%;
  top: -72%;
}


/* ========================= 
    quick-links
============================ */
.quick-links {
  background: linear-gradient(rgb(0, 88, 168), rgb(56, 131, 200));
  height: 350px;
  position: relative;
  margin-bottom: 0;
}

.quick-links h4 {
  display: none;
}

.quick-linkBtn {
  display: flex;
  padding: 1.5rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quick-linkBtn a {
  width: 122px;
  height: 122px;
  border-radius: 8px;
  border: none;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  color: var(--color-primary-light);
  font-size: var(--text-s);
  font-weight: 500;
  transition: transform 0.3s ease, fill 0.25 ease;
}

.quick-linkBtn a:hover {
  background: var(--color-primary-middle);
  box-shadow: 0 0 10px rgba(250, 250, 248, 0.9), inset 0 0 5px rgba(250, 250, 248, 0.9);
  color: var(--color-white);
  transform: translateY(-8px);
}

.quick-linkBtn a:hover svg path {
  fill: var(--color-white);
}

.quick-linkBtn a:hover svg {
  fill: var(--color-white);
  animation: quickBtn 0.8s ease-in-out infinite;
  height: 45px;
  width: 45px;
}

@keyframes quickBtn {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
    /* 위로 */
  }

  100% {
    transform: translateY(0);
  }
}

.quick-linkBtn .reserveAll {
  width: 176px;
  font-size: 32px;
  font-weight: 600;
}

/* ========================= 
    NEWSROOM & POPUP
============================ */
.main-bg {
  width: 100%;
  height: 200px;
  background: var(--color-white);
  border-radius: 0 250px 0 0;
  position: absolute;
  top: -36%;
}

.news-area {
  background: var(--color-white);
  position: relative;
}

.news-area h4 {
  padding-top: 35px;
}

.news-category {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

#news-heading {
  font-size: 40px;
  font-weight: 800;
  color: var(--color-title-text);
}

/* ----- 왼쪽 뉴스룸 영역 ---- */
.newsroom {
  flex: 2;
  width: 100%;
  position: relative;
}

.newsBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.newsroom-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 14px 0;
}

.newsroom-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--color-text-gray);
  bottom: 0;
  left: 0;
}

.newsroom-tabs {
  display: flex;
  gap: 10px;
}

.newsroom-tab {
  width: 95px;
  height: 40px;
  border: 2px solid var(--color-text-darkgray);
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.newsroom-tab.active {
  border: 2px solid var(--color-primary-middle);
  color: var(--color-primary-middle);
}

.news-list a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 14px;
}

.news-list a:hover .news-date {
  color: var(--color-white);
  background: var(--color-primary-middle);
}

.news-list a:hover .news-item-title {
  color: var(--color-primary-middle);
}

.news-list a:hover .news-content {
  color: #555;
}

.newsroom-icon {
  display: none;
}

.news-date {
  width: 80px;
  height: 80px;
  border: 2px solid #374676;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-date .date {
  font-size: 24px;
  font-weight: 700;
}

.news-date .year-month {
  font-size: 14px;
  font-weight: 600;
}

.news-item .news-item-title {
  padding-bottom: 8px;
  font-size: var(--text-xs);
  font-weight: 600;
}

.news-item .news-content {
  font-size: var(--text-m);
  color: #707982;
  font-weight: 500;
  text-overflow: ellipsis;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
}

.newsroom-content {
  display: none;
  flex-direction: column;
}

.newsroom-content.active {
  display: flex;
}


/* ----- 오른쪽 팝업 영역 ---- */
.popup {
  flex: 1;
}

.popup-header {
  padding: 10px 0 16px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popupBtn button:hover svg circle,
.popupBtn button:hover svg polyline,
.popupBtn button:hover svg path {
  stroke: var(--color-primary-middle);
}

.popup .swiper {
  width: 500px;
  height: 285px;
}

.popup .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stopBtn.paused svg path{stroke: var(--color-point);}
.mobile-popupBtn {
  display: none;
}
.mobile-stopBtn.paused{
  color: var(--color-point);
}
/* ========================= 
    ESG section
============================ */
.esg-area {
  position: relative;
  height: 574px;
  overflow: hidden;
}

.esg-wrap {
  display: flex;
  flex-direction: row;
  height: inherit;
  gap: 17%;
  
}

.esg-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.esg-left h2 {
  margin-bottom: 30px;
}

.esg-left p {
  margin-bottom: 14px;
  text-wrap: nowrap;
}

.esgBtn {
  display: flex;
  gap: 16px;
}

.esgBtn svg path {
  stroke: var(--color-primary-middle);
}

.esgbutton-next,
.esgbutton-prev {
  width: 35px;
  height: 35px;
  border: 1px solid var(--color-text-gray);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esg-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 55%;
  height: 574px;
  background: linear-gradient(130deg, rgb(1, 117, 223), rgb(65, 96, 175));
  border-radius: 150px 0 0 0;
  max-width: 1020px;
}

.esg-right {
  display: flex;
  align-items: center;
  
}

.esg-content .swiper { 
  padding: 10px;
  width: 1130px;
  height: 370px;
  border-radius: 0 0 30px 30px;
}

.esg-swiper .swiper-slide {
  font-size: 18px;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0 0 30px 30px;
  cursor: pointer;
  box-shadow: var(--shadow-black-s);
}

.esg-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 272px;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.esg-swiper .swiper-slide .esg-text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px 20px;
}

.esg-text h6 {
  margin-bottom: 5px;
  font-size: var(--text-title-xs);
  color: var(--color-text-gray);
}

.esg-text h6 strong {
  color: var(--color-primary-dark);
}

.esg-text p {
  opacity: 0;
}

.esg-swiper .swiper-slide:hover .esg-text p {
  opacity: 1;
}

.esg-swiper .swiper-slide:hover {
  box-shadow: var(--shadow-black-l);
  transform: translateY(-10px);
}

/* ========================= 
   인재채용
============================ */
.jobs{position: relative;}
.jobs-maintitle h4{margin-bottom: 40px;}
.jobs-cards {
  margin-top: var(--space-l);
}
.jobs-cards ul{
  display: flex; gap: 20px;
}

.jobs-main-card{
  width: 297px; height: 310px;
  background: linear-gradient(180deg, rgb(0, 81, 154), rgb(1, 117, 223));
  padding: 50px 20px;
  border-radius: 10px 10px 10px 50px;
  position: relative;
}
.jobs-now{
  width: 108px; height: 42px;
  background-color: var(--color-white);
  border-radius: 30px;
  text-align: center;
  line-height: 42px;
  font-size: var(--text-m);
  font-weight: 700;
  color: var(--color-logo);
  margin-bottom: var(--space-xxs);
}
.jobs-title{
  font-size: var(--text-title-l);
  color: var(--color-white);
}
.jobs-icon{
  position: absolute;
  width: 90px; height: 90px;
  background: url(../images/jobs/jobs_icon.png);
  background-size: contain;
  bottom: 20px; right: 20px;
}

.jobSwiper{
  flex: 1; 
}
.swiper-wrapper{ 
  display: flex; align-items: center;
}

.jobSwiper .swiper-slide{height: 280px;}
.jobs-card{
  width: 300px; height: 280px;
  box-shadow: var(--shadow-black-xs);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background: var(--color-white);
}
.jobs-card .star{
  position: absolute;
  right: 20px;
}
.jobs-current{
  width: 100px; height: 40px;
  background: var(--color-primary-middle);
  border-radius: 25px;
  text-align: center;
  line-height: 40px;
  color: var(--color-white);
  font-weight: 400;
  margin-bottom: 16px;
}

.jobs-content .card-main-text{
  font-size: var(--text-m);
  line-height: 1.5;
}
.jobs-content .jobs-date{
  position: absolute;
  line-height: 2;
  bottom: 20px;
  color: var(--color-text-darkgray);
}
/* 카드 호버했을때 */
.jobs-main-card:hover{
  background: linear-gradient(180deg, rgb(33, 117, 214), rgb(255, 248, 239));
}
.jobs-main-card:hover .jobs-icon{
  background: url(../images/jobs/jobs_icon_hover.png);
  background-size: contain;
}
.jobs-card:hover{
  background: var(--color-primary-middle);
  box-shadow: var(--shadow-black-m);
}
.jobs-card:hover .star{
  opacity: 1; display: block;
}
.jobs-card:hover .jobs-current{
  background: var(--color-white); 
  color: var(--color-primary-dark);
  font-weight: 600;
}
.jobs-card:hover .card-main-text{
  color: var(--color-white);
}
.jobs-card:hover .jobs-date{
  color: var(--color-text-lightgray);
}



/* 인재채용 하단영역 */
.jobs-bottom {
  display: flex;
  gap: 30px;
  padding-top: var(--space-xxl);
  position: relative;
}

/* 인재채용 공지사항 */
.jobs-news-wrap {
  flex: 2;
}

.jobs-news-title {
  display: flex;
  padding-bottom: 8px;
  position: relative;
  margin-bottom: 30px;
}

.jobs-news-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--color-text-gray);
  bottom: 0;
  left: 0;
}

.jobs-news-title h4 {
  color: var(--color-secondary-gray);
  font-weight: 500;
}

.jobsBtn {
  position: absolute;
  right: 0;
}

.jobs-news {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.jobs-news li a {
  display: flex;
  padding: 24px 50px;
  box-shadow: var(--shadow-black-xs);
  border-radius: 10px;
  gap: 30px;
  align-items: center;
}

.jobs-news-category {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  line-height: 40px;
  background: var(--color-logo);
  color: var(--color-white);
  font-size: var(--text-m);
}

.jobs-news li a .star {
  position: absolute;
  right: 5%;
}

/* jobsnews 목록 호버 */
.jobs-news li a:hover {
  background: var(--color-logo);
  color: var(--color-white);
}

.jobs-news li a:hover .jobs-news-category {
  background: var(--color-white);
  color: var(--color-logo);
  font-weight: 600;
}

.jobs-news li a:hover .star {
  display: block;
  opacity: 1;

}

.job {
  box-shadow: var(--shadow-black-s);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.job::after {
  content: '';
  background: linear-gradient(rgba(250, 250, 248, 0.251), #A5CFF940, #7474BF40, #1a1a1a40);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.jobs-text{display: none;}
.jobs-button {
  position: absolute;
  bottom: 5%;
  right: 28%;
}

.bene {
  right: 2%;
}

.jobs-button a {
  color: var(--color-white);
}

.jobs-button:hover {
  transform: scale(1.2);
}

.jobs-button img {
  width: 34px;
  height: 34px;
}

/* 인재채용 직무소개 */
.jobs-intro {
  flex: 1;
}

.intro-img {
  padding: 35px 0;

}

.intro-img>div img {
  width: 130px;
  height: 92px;
  position: relative;
}

.intro-img>div {
  display: flex;
  justify-content: space-around;
  padding-bottom: 14px;
}

/* 인재채용 복리후생 */
.jobs-benefit {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs-benefit img {
  width: 280px;
  height: 200px;
}


/* ========================= 
   통합예약
============================ */
.reservation {
  position: relative;
  height: 180vh;
  overflow: hidden;
}

.reservation-content {
  width: 1300px;
  margin: 0 auto;
  z-index: 2;
  top: 200px;
  transition: color 0.3s ease
}

.reservation-img {
  width: 100%;
  height: 1780px;
  background: url(../images/reservation/reservation_scrollBg.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.content-text {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  color: var(--color-title-text);
  z-index: 2;
}

.read-more-btn {
  background: transparent;
  border: 1px solid var(--color-title-text);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 60px;
  margin-top: 30px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  gap: 10px;
}

.white-text {
  color: var(--color-title-text);
  font-size: 32px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.white-arrow path {
  transition: stroke 0.3s ease;
}
.read-more-btn:hover{border-color: var(--color-point);}
.read-more-btn:hover .white-arrow path{
  stroke: var(--color-point);
}
/* 이미지 위에 올라왔을 때 */
.reservation-content.white .content-text,
.reservation-content.white .white-text {
  color: var(--color-white);
}

/* SVG 화살표 색도 같이 */
.reservation-content.white svg path {
  stroke: var(--color-white);
}

/* 버튼 테두리 */
.reservation-content.white .read-more-btn {
  border-color: var(--color-white);
}

/* ========================= 
  ad
============================ */
.ad{
  width: 85%; margin: 0 auto 30px;
}
